<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PetingoLightUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PetingoLightUI.Properties.Settings>
            <setting name="SCREEN_INDEX_0" serializeAs="String">
                <value>255@255</value>
            </setting>
            <setting name="SCREEN_INDEX_2" serializeAs="String">
                <value>255@255</value>
            </setting>
            <setting name="SCREEN_BRIGHTNESS" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="STARTUP_WITH_WINDOWS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LED_COUNT_VER_RED" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LED_COUNT_VER_YELLOW" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LED_COUNT_VER_BLUE" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LED_COUNT_HOR_RED" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="LED_COUNT_HOR_YELLOW" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="LED_COUNT_HOR_BLUE" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="SCREEN_INDEX_1" serializeAs="String">
                <value>255@255</value>
            </setting>
            <setting name="LED_TARGET_TIME_OFF" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LED_TARGET_TIME_ON" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MODE" serializeAs="String">
                <value>2</value>
            </setting>
        </PetingoLightUI.Properties.Settings>
    </userSettings>
</configuration>